
@{
    ViewBag.Title = "Contract";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="footer-a">
    <div class="footer__content">
        <div class="footer__contact">
            <div>
                <h1>Wizard</h1>
            </div>
            <div>
                <form class="form-sub" action="">
                    <label id="sub-newsletter" for="input-email">Subscribe Newletter</label>
                    <div>
                        <input type="text" id="input-email" placeholder="Your email">
                        <div class="icon-ariplane">
                            <i class="fas fa-paper-plane"></i>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </div>
        </div>

        <div class="footer-detail">
            <div>
                <div>
                    Contact info
                </div>
                <ul class="list-contact">
                    <li>
                        <span>Address:</span>
                        <span>Olive, Z115 Street, Quyet Thang Ward, Thai Nguyen City</span>
                    </li>
                    <li>
                        <span>Phone:</span>
                        <span>+ 999-999-999</span>
                    </li>
                    <li>
                        <span>Email:</span>
                        <span>oliveblog@gmail.com</span>
                    </li>
                    <li>
                        <span>Opentime:</span>
                        <span>8.00am - 5.00.pm </span>
                    </li>
                </ul>
            </div>
            <div style="display: none;">
                <div>
                    Account
                </div>
                <ul class="list-account">
                    <li><a href="">My account</a></li>
                    <li><a href="">Wishlist</a></li>
                    <li><a href="">Cart</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Checkout</a></li>
                </ul>
            </div>
            <div>
                <div>
                    Information
                </div>
                <ul class="list-information">
                    <li><a href="">About us</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Delivery Information</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Terms & Condition</a></li>
                </ul>
            </div>
            <div style="display: none;">
                <div>
                    Payment methods
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit gravida facilisis. </p>
                <div class="logo-payment">
                    <img src="icon/paypal_icon.png" alt="">
                    <img src="icon/visa_icon.png" alt="">
                    <img src="icon/mastercard_icon.png" alt="">
                    <img src="icon/cirrus_icon.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

